<div class="footer d-flex justify-content-between align-items-center px-4"
     *ngIf="ocultarFooter">
    <div>
        @ 2021 Dotz. Todos os direitos reservados
    </div>
    <div class="d-flex align-items-center">
        <div>
            <a href="https://pt-br.facebook.com/dotzoficial"
               target="_blank">
                <img src="../../../assets/img/ico-facebook.svg"
                     alt="Facebook"
                     width="25"
                     height="25">
            </a>
        </div>
        <div class="mx-2">
            <a href="https://www.youtube.com/user/dotzuser"
               target="_blank">
                <img src="../../../assets/img/ico-youtube.svg"
                     alt="You Tube"
                     width="25"
                     height="25">
            </a>
        </div>
        <div>
            <a href="https://twitter.com/Programa_dotz"
               target="_blank">
                <img src="../../../assets/img/ico-twitter.svg"
                     alt="Twitter"
                     width="25"
                     height="25">
            </a>
        </div>
    </div>
</div>