<div class="header d-flex justify-content-between align-items-center">
    <div>
        <img src="../../../assets/img/logo-dotz-completo.png"
             alt="Logo">
    </div>

    <div class="user d-flex align-items-center">
        <div class="me-3 text-end dados">
            <div>
                {{ usuario }}
            </div>
            <div>
                Saldo: <b> {{ saldo }}</b> dotz
            </div>
        </div>

        <div>
            <div class="dropdown">
                <img class="dropdown-toggle"
                     data-bs-toggle="dropdown"
                     aria-expanded="false"
                     id="dropdownusuario"
                     src="../../../assets/img/ico-user.svg"
                     alt="Menu">
                <img src="../../../assets/img/ico-down.svg"
                     class="seta"
                     data-bs-toggle="dropdown">


                <ul class="dropdown-menu"
                    aria-labelledby="dropdownusuario">
                    <li>
                        <div class="dados-mobile">
                            <div class="ms-2">
                                {{ usuario }}
                            </div>
                            <div class="ms-2">
                                Saldo: <b> {{ saldo }}</b> dotz
                            </div>
                            <hr class="dropdown-divider">
                        </div>
                    </li>
                    <li>
                        <a class="dropdown-item cursor"
                           (click)="pedidos()">Meus Pedidos</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item cursor"
                           (click)="sair()">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>